@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

:root {
  --copy: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Aboreto", cursive;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 999;
    will-change: transform;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    opacity: 1;
    transform: translateY(-100%);
    animation: slideDown 1s cubic-bezier(.76,0,.2,1) forwards;
    animation-delay: 2.5s;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(10%);
    }
}

/* Logo and Menu Toggle Styles */
.logo,
.menu-toggle-open,
.menu-toggle-close{
    position: relative;
    width: max-content;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    cursor: pointer;
}

/* Menu Overlay */
.menu-overlay {
    position: fixed;
    inset: 0;
    width: 90vw;
    height: 100svh;
    display: flex;
    background: #000;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    will-change: clip-path;
    pointer-events: none;
    z-index: 999;
    border-radius: 25px;
}

.menu-overlay-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.menu-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navigation Links */
.nav-links {
    display: flex;
    align-items: center;
    z-index: 1000;
    mix-blend-mode: difference;
}

.nav-links a,
.menu-overlay-bar a,
.menu-overlay-bar p,
.showreel a,
.media-link a {
    position: relative;
    color: var(--copy);
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 4px 0;
    display: block;
    will-change: transform;
    user-select: none;
}

/* Menu Links Animation */
.menu-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 2rem;
}

.menu-link {
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.menu-link a {
    position: relative;
    display: inline-block;
    transform: translateY(100%);
    will-change: transform;
    color: var(--copy);
    text-decoration: none;
}

.menu-overlay h1 {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 8vw;
    line-height: 0.85;
    color: var(--copy);
    margin: 0;
}

/* Transform States */
nav a,
.menu-toggle-open p {
    transform: translateY(0px);
}

.menu-overlay-bar a,
.menu-toggle-close p,
.showreel a,
.media-link a {
    transform: translateY(20px);
}

/* Socials */
.socials {
    display: flex;
    gap: 1em;
}

/* Contact Button */
.contact-button {
    font-family: "Aboreto", cursive;
    border: 1.2px solid var(--copy);
    background: transparent;
    color: var(--copy);
    padding: 6px 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    transition: background 0.3s ease, color 0.3s ease;
    mix-blend-mode: difference;
    white-space: nowrap;
}

.contact-button:hover {
    background: var(--copy);
    color: #000;
}

.close-btn {
  width: 36px;
  height: 36px;
}

.open-btn {
    width: 34px;
    height: 34px;
}

/* Logo Animation */
.img-logo {
    opacity: 0;
    transform: scale(0.8);
    animation: fadeInScale 1.5s ease-in-out forwards;
    width: 92px;
    height: auto;
    display: block;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@media (max-width: 768px) {
    .navbar {
      padding: 15px 30px;
      width: 90vw;
      left: 5%;
    }

    .menu-overlay h1 {
        font-size: 15vw;
    }
}
/* Responsive Design */
@media (max-width: 900px) {
    .navbar {
      padding: 15px 30px;
      width: 90vw;
      left: 5%;
    }
    .menu-overlay h1 {
        font-size: 16vw;
    }
}


