@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  padding: 2em;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  z-index: 9999;
  will-change: transform, opacity;
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.loader {
  align-items: center;
  gap: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  will-change: transform;
  transform: translateZ(0);
}

.logo-svg {
  width: 200px;
  height: 100px;
  will-change: transform;
  transform: translateZ(0);
}

.mask-rect {
  transform-origin: top;
  will-change: transform;
}

@media (max-width: 900px) {
  .overlay {
    padding: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .loader {
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .logo-svg {
    width: 150px;
    height: auto;
  }
}