/* Sprat Font Faces */
@font-face {
  font-family: 'Sprat Variable';
  src: url("/fonts/sprat/Sprat_Variable.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Sprat Condensed */
@font-face {
  font-family: 'Sprat Condensed';
  src: url("/fonts/sprat/Sprat-CondensedBlack.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sprat Condensed';
  src: url("/fonts/sprat/Sprat-CondensedBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sprat Condensed';
  src: url("/fonts/sprat/Sprat-CondensedLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sprat Condensed';
  src: url("/fonts/sprat/Sprat-CondensedMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sprat Condensed';
  src: url("/fonts/sprat/Sprat-CondensedThin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sprat Condensed';
  src: url("/fonts/sprat/Sprat-CondensedRegular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Sprat Extended */
@font-face {
  font-family: 'Sprat Extended';
  src: url("/fonts/sprat/Sprat-ExtendedBlack.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sprat Extended';
  src: url("/fonts/sprat/Sprat-ExtendedBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sprat Extended';
  src: url("/fonts/sprat/Sprat-ExtendedLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sprat Extended';
  src: url("/fonts/sprat/Sprat-ExtendedMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sprat Extended';
  src: url("/fonts/sprat/Sprat-ExtendedRegular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sprat Extended';
  src: url("/fonts/sprat/Sprat-ExtendedThin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Sprat Regular */
@font-face {
  font-family: 'Sprat';
  src: url("/fonts/sprat/Sprat-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sprat';
  src: url("/fonts/sprat/Sprat-RegularBlack.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sprat';
  src: url("/fonts/sprat/Sprat-RegularBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sprat';
  src: url("/fonts/sprat/Sprat-RegularLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sprat';
  src: url("/fonts/sprat/Sprat-RegularMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sprat';
  src: url("/fonts/sprat/Sprat-RegularThin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* TT Norms Fonts */
@font-face {
  font-family: 'TT Norms Black';
  src: url("/fonts/tt-norms/TTNorms-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms Black Italic';
  src: url("/fonts/tt-norms/TTNorms-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'TT Norms Bold';
  src: url("/fonts/tt-norms/TTNorms-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms Bold Italic';
  src: url("/fonts/tt-norms/TTNorms-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'TT Norms Italic';
  src: url("/fonts/tt-norms/TTNorms-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'TT Norms Light';
  src: url("/fonts/tt-norms/TTNorms-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms Regular';
  src: url("/fonts/tt-norms/TTNorms-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Audrey Fonts */
@font-face {
  font-family: 'Audrey';
  src: url('/fonts/audrey/Audrey-Normal.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Audrey';
  src: url('/fonts/audrey/Audrey-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Golden Plains Font */
@font-face {
  font-family: 'Golden Plains';
  src: url('/fonts/golden-plains/GoldenPlains.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
